var judgeReamaintrue = function(val) {
    if (val && val.indexOf('超') > -1) {
        return true
    }
}
var judgeReamainfalse = function(val) {
    if (val && !(val.indexOf('超') > -1)) {
        return true
    }
}
module.exports = {
    judgeReamaintrue: judgeReamaintrue,
    judgeReamainfalse: judgeReamainfalse
}